<!DOCTYPE html>
<html>
<head>
    <title>Code du jour</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="card">
        <h1>Code du jour :</h1>
        <div class="code-container" onclick="copyToClipboard('<%= code %>')">
            <div class="code"><%= code %></div>
        </div>
        <!-- Ajout de la section pour le temps restant -->
        <div class="time-left">
            Temps restant avant le prochain renouvellement : <%= hoursLeft %> heures et <%= minutesLeft %> minutes.
        </div>
    </div>
    <script>
        function copyToClipboard(text) {
            const textarea = document.createElement('textarea');
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('Code copié dans le presse-papier!');
        }
    </script>
</body>
</html>
